### Handling Imbalance Dataset
#### 1. Up Sampling
#### 2. Down Sampling

In [1]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = n_samples - n_class_0

In [2]:
n_class_0,n_class_1

(900, 100)

In [8]:
## Create my dataframe with imbalanced dataset
class_0  = pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [10]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [12]:
df.tail()

     feature1  feature2  target
995  0.122833  2.758545       1
996  2.862814  2.582465       1
997  2.733225  0.392965       1
998  1.342567  1.609239       1
999  1.842386  3.144320       1

In [13]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [14]:
## upsampling 
df_minority= df[df['target']==1]
df_majority= df[df['target']==0]

In [18]:
from sklearn.utils import resample
df_minority_upsampled = resample(df_minority,replace=True,
         n_samples=len(df_majority),
         random_state=42)

In [19]:
df_minority_upsampled.shape

(900, 3)

In [20]:
df_minority_upsampled.head()

     feature1  feature2  target
951  1.720464  4.175706       1
992  1.927428  3.018077       1
914  2.850840  2.058938       1
971  1.536417  0.953271       1
960  1.197962  2.512859       1

In [22]:
df_upsampled = pd.concat([df_majority,df_minority_upsampled])

In [23]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

### Down Sampling

In [25]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = n_samples - n_class_0

## Create my dataframe with imbalanced dataset
class_0  = pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

df = pd.concat([class_0,class_1]).reset_index(drop=True)

## Choose the class distribution
print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [ ]:
## downsampling 
df_minority= df[df['target']==1]
df_majority= df[df['target']==0]

In [27]:
from sklearn.utils import resample
df_majority_downsampled = resample(df_majority,replace=False,
         n_samples=len(df_minority),
         random_state=42)

In [28]:
df_majority_downsampled.shape

(100, 3)

In [29]:
df_downsampled = pd.concat([df_minority,df_majority_downsampled])

In [30]:
df_downsampled.target.value_counts()

target
1    100
0    100
Name: count, dtype: int64